<div class="flex justify-center bg-apricot">
    <div class="text-2xl m-14">
        <p class="text-muted">contact me at <a href="mailto:angela.olovson@gmail.com" class="text-blue-800 underline">angela.olovson@gmail.com</a></p>
    </div>
</div>