---
import Layout from '~/layouts/PageLayout.astro';
import Header from '~/components/widgets/Header.astro';
import Content from '~/components/widgets/Content.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Steps from '~/components/widgets/Steps.astro';
import Break from '~/components/common/Break.astro'
// import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';

const metadata = {
  title: 'Angela Olovson',
};
---

<Layout metadata={metadata}>
  <Fragment slot="announcement"></Fragment>
  <Fragment slot="header">
    <Header
      links={[
        { text: 'Home', href: '#' },
        { text: 'About', href: '#about' },
        { text: 'Resume', href: '#resume' },
        { text: 'Portfolio', href: '#porfolio' },
        // { text: 'Blog', href: '#blog' },
        { text: 'Github', href: 'https://github.com/angelaolovson/' },
        // { text: 'LinkedIn', href: 'https://www.linkedin.com/in/angela-olovson/' },
      ]}
      actions={[
        {
          text: 'LinkedIn',
          href: 'https://www.linkedin.com/in/angela-olovson/',
        },
      ]}
      isSticky
    />
  </Fragment>

  <div class="flex flex-col py-12 md:py-36 text-center md:p-16 max-w-5xl mx-auto">
    <div class="text-5xl md:text-6xl font-bold leading-tighter tracking-tighter mb-4 font-heading">Angela Olovson</div>
    <div class="max-w-3xl mx-auto text-xl text-muted mb-6 ">
      <p class="text-moss">Software Engineer・Fashion Merchandiser・Wedding Florist</p></div>
  </div>

  <Break/>

  <Content
    id="about"
    columns={3}
    image={{
      src: 'https://res.cloudinary.com/dlxrcak5o/image/upload/v1683571916/Portfolio%20Lab/Greenshot_2023-01-11_17.36.29_ts87gn.png',
      alt: 'selfie',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight sm:text-3xl mb-2">About me</h3>
      <p>
        Welcome to my journey. As you noticed, I have background coming from other industries.
      </p>
      <br />
      <p>
        After several years of working experiences, I would say I love what I was doing but also excited of what I am going to do. Fashion and floristry industries brought me 
        
        I find inspiration in the world around me, whether through the pages of a captivating novel, the intricate
        details of typography, or the vibrant hues of nature during my outdoor escapades.
      </p>
      <br />
      <p>If you're curious to dive deeper into my work, you can follow me:</p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0"></div>
    </Fragment>
  </Content>

  <Break/>

  <Steps
    id="resume"
    title="Work experience"
    items={[
      {
        title:
          'Global Technology Volunteer - Frontend Developer <br /> <span class="font-normal">Bridges for Enterprise, Remote</span> <br /> <span class="text-sm font-normal">Dec 2023 - Present</span>',
        description: `Collaborate with the internal and design teams on the organization's public website’s redevelopment using Astro and Tailwind.`,
        icon: 'tabler:briefcase',
      },
      {
        title:
          'Software Engineering Fellow <br /> <span class="font-normal">General Assembly, Remote</span> <br /> <span class="text-sm font-normal">Jan 2023 - Present</span>',
        description: `Details in Porfolio`,
        icon: 'tabler:briefcase',
      },
      {
        title:
          'Senior Allocation Analyst <br /> <span class="font-normal">Citi Trends, New York, NY</span> <br /> <span class="text-sm font-normal">Feb 2023 - Present</span>',
        description: `Analyze stock, partner with Planners/Buyers to strategize product flow, and execute distribution to optimize sales. <br /> Manage inventory for 600 stores, identify growth opportunities, and implement strategies to support growth. <br /> Plan appropriate product assortment for new stores to meet demographic requirements. <br />Girls 4-16 Apparel / Ladies Basics & Sleepwear`,
        icon: 'tabler:briefcase',
      },
      {
        title:
          'Allocation Analyst <br /> <span class="font-normal">Citi Trends, New York, NY</span> <br /> <span class="text-sm font-normal">Aug 2021 - Jan 2023</span>',
        description: `Newborn & Infant Apparel / Toddler Apparel / Children’s Sleepwear & Accessories`,
        icon: 'tabler:briefcase',
      },
      {
        title:
          'Freelance Florist <br /> <span class="font-normal">Ora La Casa De Las Flores, New York, NY</span> <br /> <span class="text-sm font-normal">Jul 2022 - Present</span>',
        description: `Assist the shop owner with wedding floral installations, including arches and centerpieces.`,
        icon: 'tabler:briefcase',
      },
      {
        title:
          'Buying Intern <br /> <span class="font-normal">SMCP, New York, NY</span> <br /> <span class="text-sm font-normal">Jan 2021 - Jun 2021</span>',
        description: `Analyzed and aggregated weekly selling by brand, category, style, and channel.<br /> Supported buyers in assortment building, market preparation, and collection hindsight. <br /> Monitored product performance and partnered with the Allocation team to adjust stock levels for Omni channels. <br /> Liaisoned between merchandising department and cross-functional teams(Planning, Logistics, IT, Marketing, and VM) for strategic product push and troubleshooting operational issues. <br /> Managed sample trafficking for external vendor shoots. Presented market and trend recaps to senior management.`,
        icon: 'tabler:briefcase',
      },
      {
        title:
          'Sales Associate <br /> <span class="font-normal">SMCP Sandro, New York, NY</span> <br /> <span class="text-sm font-normal">Nov 2020 - Jan 2021</span>',
        description: ``,
        icon: 'tabler:briefcase',
      },
      {
        title:
          'Product Development Assistant <br /> <span class="font-normal">Artistic Linen, New York, NY</span> <br /> <span class="text-sm font-normal">Nov 2019 - Apr 2020</span>',
        description: `Established timelines for development processes and communicated with vendors to assure on-time delivery. <br /> Executed and oversaw the entire product development process, including tracking, inspecting (fabric, color, and prints), and preparing samples to send to clients. <br /> Coordinated with vendors, internal teams, and clients for daily operations. <br /> Created a fabrication library and managed the showroom.`,
        icon: 'tabler:briefcase',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <!-- Steps Widget ****************** -->

  <Steps
    id="resume"
    title="Education"
    items={[
      {
        title: `Software Engineering Immersive Remote (Flex) | 420 hours <br /> <span class="font-normal">General Assembly</span> <br /> <span class="text-sm font-normal">Jan 2023 - July 2023</span>`,
        icon: 'tabler:school',
      },
      {
        title: `Master of Arts in Fashion Merchandising <br /> <span class="font-normal">Academy of Art University, San Francisco, CA</span> <br /> <span class="text-sm font-normal">Feb 2017 - Dec 2018</span>`,
        icon: 'tabler:school',
      },
      {
        title: `Bachelor of Cosmeceutical Science in Cosmeceutics <br /> <span class="font-normal">China Medical University, Taichung, Taiwan</span> <br /> <span class="text-sm font-normal">Sept 2009 - Jun 2013</span>`,
        icon: 'tabler:school',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <Break/>

  <Features3
    title="Skills"
    subtitle=""
    columns={3}
    defaultIcon="tabler:point-filled"
    items={[
      {
        title: 'Programming Languages',
        description: 'JavaScript/TypeScript | HTML5 | CSS3 | Python | EJS',
      },
      {
        title: 'Frameworks',
        description: 'React | Express.js | Astro | Django',
      },
      {
        title: 'Libraries',
        description: 'Bootstrap | Tailwind | jQuery',
      },
      {
        title: 'Databases',
        description: 'MongoDB | PostgreSQL',
      },
      {
        title: 'Tools & Others',
        description: 'git | Visual Studio Code | Postman | RESTful Routing | JSON API',
      },
      {
        title: 'Microsoft Office',
        description: 'Excel | Word | PowerPoint | Outlook',
      },
      {
        title: 'Adobe Creative Suite',
        description: 'Photoshop | Illustrator | InDesign',
      },
      {
        title: 'Attention to detail',
        description: 'Diligent in maintaining precision and quality in all work.',
      },
      {
        title: 'Communication',
        description: 'Understand situations, clearly convey them to coworkers, and work collaboratively to address problems.',
      },
      // {
      //   title: 'Adaptability',
      //   description: 'Quick to adapt to new design trends, technologies, and client preferences.',
      // },
    ]}
  />

  <Break/>

  <Content
    id="porfolio"
    title="Projects"
    subtitle=""
    isReversed
    items={[
      {
        title: 'Description',
        description:
          'Designed UI and implemented frontend in React and backend 4 full CRUD applications in Node.js and Express with MongoDB database. <br/> Developed a dynamic e-commerce functionality enabling customers to navigate through the site to browse products or services, add items to cart, edit quantities, checkout with automatic inventory updates post-purchase, view customer account and order summary, and the owner can manage inventory.',
      },
      {
        title: 'Tools',
        description:
          'JavaScript | React | Express | Node.js | MongoDB | Postman | Bootstrap | CSS3',
      },
    ]}
    image={{
      src: 'https://res.cloudinary.com/dlxrcak5o/image/upload/v1704679512/Portfolio%20Lab/Project4_app_image_ezckqf.png',
      alt: 'App Image',
    }}
    callToAction={{
      target: '_blank',
      text: 'Go to the project',
      icon: 'tabler:chevron-right',
      href: 'https://github.com/angelaolovson/project4-ora-frontend',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Project 4(Capstone) - Ora<br /><span class="text-2xl">A revamped e-commerce website for a flower shop.</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 "></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->
  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Description',
        description:
          'Collaboratively developed "CasaAmor", handling full CRUD operations across four main models: listings, bookings, reviews, and user accounts. <br/> I worked on backend development for property listings, including routes for viewing, adding, editing, and deleting, as well as implementing filters on Home Page. <br/> Constructed frontend features using React, such as the home page, property pages with Google Maps API, image galleries, and descriptions, along with booking and review components.',
      },
      {
        title: 'Tools',
        description: `JavaScript | React | Express | Node.js | MongoDB | Postman | Bootstrap | CSS3`,
      },
    ]}
    image={{
      src: 'https://res.cloudinary.com/dlxrcak5o/image/upload/v1704677587/Portfolio%20Lab/Project3_app_image_mha1rj.png',
      alt: 'App Image',
    }}
    callToAction={{
      target: '_blank',
      text: 'Go to the project',
      icon: 'tabler:chevron-right',
      href: 'https://github.com/jialingye/project3-FrontEnd',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Project 3(Group Project) - CasaAmor<br /><span class="text-2xl">A reimagined version of Airbnb tailored for honeymoon home seekers.</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Description',
        description:
          'A full-stack web application for managing beer selections, featuring capabilities to view, add, edit, and delete entries. <br />Integrated Express, Node.js, MongoDB, and Mongoose for backend route handling, with API testing via Postman. <br/>Implemented a drag-and-drop feature, allowing users to re-organize the cans within the fridge.',
      },
      {
        title: 'Tools',
        description: `JavaScript | CSS3 | EJS | Express | Node.js | MongoDB | Postman`,
      },
    ]}
    image={{
      src: 'https://res.cloudinary.com/dlxrcak5o/image/upload/v1683571514/Portfolio%20Lab/project2-pic_oatte2.png',
      alt: 'App Image',
    }}
    callToAction={{
      target: '_blank',
      text: 'Go to the project',
      icon: 'tabler:chevron-right',
      href: 'https://github.com/angelaolovson/BeerFridge',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Project 2 - Beer Fridge<br /><span class="text-2xl">A beer fridge that allows users to view, add, edit, and delete beer cans.</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 "></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Description',
        description: `Desgined UI with hover-enabled instructions and responsive feedback on plant health to enhance user engagement. <br />Utilized setInterval and setTimeout functions for real-time resource management and animations, including revealing plant growth stages and handling game win or loss scenarios. <br/>Integrated event listeners for interactive buttons that trigger data updates and animations, providing a lively and interactive gaming experience.`,
      },
      {
        title: 'Tools',
        description: `JavaScript | CSS3 | HTML5 | PhotoShop`,
      },
    ]}
    image={{
      src: 'https://res.cloudinary.com/dlxrcak5o/image/upload/v1683571514/Portfolio%20Lab/project1-pic_qhi9bj.png',
      alt: 'App Image',
    }}
    callToAction={{
      target: '_blank',
      text: 'Go to the project',
      icon: 'tabler:chevron-right',
      href: 'https://github.com/angelaolovson/Tamapotchi',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Project 1 - Tamapotchi<br /><span class="text-2xl">A plant-themed Tamagotchi, growing a virtual plant by providing care and attention to its needs.</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0"></div>
    </Fragment>
  </Content>

  <!-- BlogLatestPost Widget **************** -->

  <!-- <BlogLatestPosts
    id="blog"
    title="Explore my insightful articles on my blog"
    information={`Dive into a realm of design wisdom and creative inspiration, where you'll find invaluable insights, practical tips, and captivating narratives that elevate and enrich your creative journey.`}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts> -->

</Layout>